<h1><a href="/">WDI 22 Answer Board</a></h1>

<h2>{{question.subject}}</h2>
<p>{{question.details}}</p>
<form action="/{{question.id}}?_method=put" method="post">
<label>Subject:</label>
<input type="text" name="subject">
<label>Details:</label>
<input type="text" name="details">
<label>Date:</label>
<input type="text" name="date">
<label>Author:</label>
<input type="text" name="asker">
<input type="submit" value="Update Question">
</form>
<form action="/{{question.id}}?_method=delete" method="post">
<input type="submit" value="Delete Question">
</form>


<h2>Answers</h2>

{{#each question.answers }}
<p>Answer: {{text}}</p>
<p>Answered by: {{name}}</p>
<p>Likes: {{likes}}</p>
<form action="/{{../question.id}}/{{id}}?_method=delete" method="post">
<input type="submit" value="Delete Answer">
</form>
{{/each}}

<h2>Add an answer:</h2>
<form action="/{{question._id}}" method="post">
<label>Your answer:</label>
<input type="text" name="text">
<label>Your name:</label>
<input type="text" name="name">
<label>Likes:</label>
<input type="text" name="likes">
<input type="submit" value="Submit">
</form>
